<h1>Sign Up</h1>

<%= render 'layouts/errors', :object => @user %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label 'Username' %>
    <br>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label 'Email' %>
    <br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label 'Password' %>
    <br>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit 'Sign Up', class: 'btn btn-outline-success' %>
<% end %>
