<h3><%= @hike.name %></h3>

<div class='row'>
  <div class='col-md-4'>
    <p>
      Difficulty:
      <%= @hike.difficulty %>
    </p>
  </div>
  <div class='col-md-4'>
    <p>
      Distance:
      <%= @hike.length %> miles
    </p>
  </div>
  <div class='col-md-4'>
    <p>
      Elevation Gain:
      <%= @hike.elevation %> feet
    </p>
  </div>
</div>

<p><%= @hike.description %></p>
