<!DOCTYPE html>
<html>
  <head>
    <title>Take A Hike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Take a Hike</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link active" href="/">HOME<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/hikes">HIKES</a>
          <a class="nav-item nav-link" href="/about">ABOUT</a>
        </div>

        <%= form_tag (search_path), class:'form-inline my-2 my-lg-0' do %>
          <%= text_field_tag :search, "", class: 'form-control mr-sm-2' %>
          <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
        <% end %>

        <div class="navbar-nav">
          <% if !current_user %>
            <a class="nav-link" href="/signup">REGISTER</a>
            <a class="nav-link" href="/signin">SIGN IN</a>
          <% else %>
            <a class="nav-link" href="/users/<%= current_user.id %>"><%= current_user.email %></a>
            <a class="nav-link" href="/signout">SIGN OUT</a>
          <% end %>
        </div>

      </div>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer class="footer">
      <% if current_user && current_user.admin %>
        <div class="container-fluid text-right">
          <h4><%= link_to "Administrator", admin_path %></h4>
        </div>
      <% end %>
    </footer>


  </body>

</html>
