<!DOCTYPE html>
<html>
  <head>
    <title>Take A Hike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="nav-extended">
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <li><a href="/">HOME</a></li>
          <li><a class="active" href="/hikes">HIKES</a></li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
        <a href="/" class="brand-logo center">Take A Hike</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if !current_user %>
          <li><a href="/signup">REGISTER</a></li>
          <li><a href="/signin">SIGN IN</a></li>
          <% else %>
          <li><a href="/users/<%= current_user.id %>"><%= current_user.email %></a></li>
          <li><a class="nav-link" href="/signout">SIGN OUT</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Take A Hike</h5>
            <p class="grey-text text-lighten-4">Exploring the PNW one hike at a time.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/hikes">Hikes</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
              <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Bryan Lin
          <% if current_user && current_user.admin %>
          <a class="grey-text text-lighten-4 right" href="/admin">Admin</a>
          <% end %>
        </div>
      </div>
    </footer>

  </body>

</html>
